/* для формирования значков сортировки в таблицах */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\f15d";
}

a.desc:after {
    content: "\f15e";
}

/* ссылки с подчеркиванием */
a.link-ajax {
    text-decoration: none !important;
    border-bottom: 1px dashed #20a8d8 !important;
}

a.link-ajax:hover {
    text-decoration: none !important;
    color: #f00000 !important;
}
/* -- */

.app-body {
    display: block !important;
}

.select2-container--bootstrap .select2-selection {
    font-family: PTSansCoreUI !important;
}
.select2-search__field {
    font-family: PTSansCoreUI !important;
}

.collapse.in {
    display: block !important;
}

.navbar-nav .nav-link, .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-nav .dropdown-toggle {
    color: #adadad !important;
    opacity: 1 !important;
}

.card {
    border-radius: 0 !important;
}

.card-header:first-child {
    border-radius: 0 !important;
}

.input-group-addon {
    border-radius: 0 !important;
}

.btn {
    border-radius: 0 !important;
}

.select2-container--bootstrap .select2-selection {
    border-radius: 0 !important;
}

.select2-dropdown {
    border-radius: 0 !important;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border-radius: 0 !important;
}

.btn-sm, .btn-group-sm > .btn {
    line-height: 1 !important;
}

.table td {
    padding: 0.4rem !important;
}

/* этот цвет более приемлем для полей с addon group */
.input-group-addon {
    background-color: #f0f3f5 !important;
}
